APP_NAME="Focus Digital Color Lab"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Dhaka
APP_URL=https://focusdigitalcolorlab.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stderr                         # stdout/stderr for Coolify log viewer
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=db                                 # Override in Coolify if using external DB
DB_PORT=3306
DB_DATABASE=focus_lab
DB_USERNAME=focuslab
DB_PASSWORD=Safe@7233

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=youractualdomain.com      # no https://, no trailing slash
SESSION_SECURE_COOKIE=true               # must be true on HTTPS           # sessions table must exist + migrated

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=s3
# FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.example.com                 # Override in Coolify with your SMTP host
MAIL_PORT=587
MAIL_USERNAME=null                         # Override in Coolify
MAIL_PASSWORD=null                         # Override in Coolify
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@focusdigitalcolorlab.com"
MAIL_FROM_NAME="Focus Digital Color Lab"

# ── Google OAuth ──────────────────────────────────────────────────────────────
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=https://focusdigitalcolorlab.com/auth/google/callback

VITE_APP_NAME="Focus Digital Color Lab"


# ── Cloud-Storage ──────────────────────────────────────────────────────────────

AWS_ACCESS_KEY_ID=your_b2_key_id
AWS_SECRET_ACCESS_KEY=your_b2_application_key
AWS_DEFAULT_REGION=eu-central-003
AWS_BUCKET=your_b2_bucket_name
AWS_ENDPOINT=https://s3.eu-central-003.backblazeb2.com
AWS_USE_PATH_STYLE_ENDPOINT=true

# ── Bulk SMS ──────────────────────────────────────────────────────────────
BULKSMS_API_KEY=your_bulk_sms_api_key
BULKSMS_SENDER_ID=your_bulk_sms_sender_id   



# ── Pathao Delivery API ──────────────────────────────────────────────────────────────
PATHAO_BASE_URL=your_pathao_base_url_here
PATHAO_CLIENT_ID=your_pathao_client_id_here
PATHAO_CLIENT_SECRET=your_pathao_client_secret_here
PATHAO_USERNAME=your_pathao_username_here
PATHAO_PASSWORD=your_pathao_password_here
PATHAO_WEBHOOK_TOKEN=your_pathao_webhook_token_here
PATHAO_DEFAULT_STORE_ID=your_pathao_default_store_id_here
PATHAO_REGULAR_FEE=70
PATHAO_EXPRESS_FEE=130